<div class="contenedor">
    <div class="imagen"></div>
    <h3 *ngIf="loginName"><i class="bi bi-wordpress"></i> Bienvenido {{loginName | titlecase}} {{loginLastName | titlecase}}! espero que te guste mi página web</h3>
    <h3 *ngIf="!loginName"><i class="bi bi-wordpress"></i> Bienvenido nuestra página web está diseñada por profesionales en Software</h3>

    <h3></h3>
</div>

<div class="cont_informacion">
    <div class="informacion">
        <h2 [align]="'center'">Te ofrecemos variedad <i class="bi bi-arrows-fullscreen"></i></h2>
        <div class="flex">
            <app-card></app-card>
            <app-card></app-card>
        </div>
    </div>
</div>