<div class="card_all">
    <div class="card">
        <img src="https://www.xtrafondos.com/wallpapers/stray-videojuego-11038.jpg"
            class="card-img-top" alt="imagen de gato">
        <div class="card-body">
            <p>Tenemos increibles diseños! Seria un honor si los miras todos nuestros
                diseños disponibles</p>
        </div>
    </div>
    <div class="textoCard">
        <h1>Gato Master</h1>
        <p>En este caso específico, el error 404 not found indica que la ruta de la imagen no es valida, ya que la imagen no se encuentra en la ruta especificada. Verifica que la ruta de la imagen este bien escrita y que la imagen exista en esa ruta.</p>
    </div>
</div>