.nota{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.notitas{
    position: relative;
    width: 90%;
    margin: 2px;
    border: 1px solid; 
    padding: 3px;
    border-radius: 5px;
}
.notitas{
    position: relative;
}