<form (ngSubmit)="boton()" [formGroup]="loginForm">
    <div class="contenedor">
        <h4>Registro</h4>
        <hr>
        <div class="mb-3">
            <label class="form-label">Name</label>
            <input type="text" class="form-control" placeholder="example: Juanito manos largas"  formControlName="name">
            <div *ngIf="loginForm.get('name')?.touched && loginForm.get('name')?.errors?.['required']" class="alert alert-danger">Este campo es requerido</div>
            <div *ngIf="loginForm.get('name')?.touched && loginForm.get('name')?.errors?.['minlength']" class="alert alert-danger">Tu nombre debe de ser mayor de {{loginForm.get('name')?.errors?.['minlength'].requiredLength}} dígitos</div>
            

        </div>
        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Last Name</label>
            <input class="form-control" type="text" placeholder="example: pedrito" formControlName="lastname">
            <div *ngIf="loginForm.get('lastname')?.touched && loginForm.get('lastname')?.errors?.['required']" class="alert alert-danger">Este campo es requerido</div>
            <div *ngIf="loginForm.get('lastname')?.touched && loginForm.get('lastname')?.errors?.['minlength']" class="alert alert-danger">Tu apellido debe de ser mayor de {{loginForm.get('lastname')?.errors?.['minlength'].requiredLength}} dígitos</div>
        </div>

        <button class="btn btn-primary col-2" type="submit" [disabled]="loginForm.invalid">Send</button>

    </div>
</form>

















<!-- 
<div class="nota">
    <div class="notitas" #textoNotas>
        <h6 [align]="'center'">Notitas Form reactive 👀</h6>
        <ol>
            <li>
                <p>Importar al app module nuestras herramientas para el formulario reactivo</p>
                <code>import {{'{FormsModule, ReactiveFormsModule}'}} form @angular/forms</code>
            </li><br>
            <li>
                <p>En nuestro formulario necesitamos agregarle un nombre al formulario con <code>[formGroup]=""</code>
                </p>
                <p>Los demas inputs agregarle un nombre/identificador con <code>formControlName="" </code></p>
            </li>
            <li>
                <p>En nuestro archivo TS importar los siguientes archivos:</p>
                <code>import {{'{FormGroup, Validators, FormBuilder}'}} from @angular/forms </code>
            </li><br>
            <li>
                <p>Ahora agregar la variable que le pusimos de nombre a nuestro Form:</p>
                <code>
                {{'{variableName}'}}!:FormGroup;
            </code>
            </li><br>
            <li>
                <p>Cada grupo necesita un FormBuilder para crearlo estos son los pasos:</p>
                <code>constructor(private readOnly builder: FormBuilder){{'{}'}}</code>
            </li><br>
            <li>
                <p>Asignar el Builder mediante funciones:</p>
                <code>
                ngOnInit(): void{{'{this.{variableName} = Build()'}} <br><br>

                Build() <br>{{'{
                    return this.builder.group = { 
                    name: ["", [Validators.required]]
                }}'}}
            </code>
            </li><br>
            <li>
                <p>Para mostrar los datos del formulario podriamos asignarle el atributo
                    <code>(ngSubmit)="name()"</code> a el formulario y luego mostrar los datos por consola con</p>
                <code>name(){{'{console.log(NombreAsignadoAlGrupo)}'}}</code>
            </li><br>
            <li>Disfruta de tu formulario Reactive :)</li><br>
        </ol>
    </div>
</div> -->