.navbar{
    box-shadow: 0px 0px 3px black;
    transition: 1s;
}

.active{
    background-color: rgba(0, 0, 0, 0.678);
    color: white !important;
}
.DarkMode{
    background: #181a1b !important;
    box-shadow: 0px 0px 3px white;
}
.DarkMode *{
    color: white !important;
}
.DarkMode .active{
    background-color: #494f55;
}

/* Estilos

body{
    background: #181a1b;
    color: #d1cdc7;
}
.navbar{
    background: #d1cdc7;
}


*/